---
layout: default
title: Problems
post_scripts:
- js/problems.js
startup_functions:
- redirectIfNotLoggedIn()
---

<script src="/js/libs/star-rating.min.js"></script>
<link href="/css/star-rating.min.css" rel="stylesheet" type="text/css"/>

<script type="text/template" id="problem-list-template">
    <div class="problem-list">
        <div class="row">
            <%
            function problemCompare(a, b) {
                var compare = a.category.localeCompare(b.category);
                if (compare) {
                    return compare;
                } else {
                    if (parseInt(a.score) < parseInt(b.score)) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                }
            }
            problems = problems.sort(problemCompare);
            var prev = problems[0].category;
            %>
            <div class="col-xs-12"><h3><u><%= problems[0].category %></u></h3></div>
            <%
            _.each(problems, function(problem) {
                if (prev != problem.category) {
            %>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12"><h3><u><%= problem.category %></u></h3></div>
            <% } %>
                <%= renderProblem({
                problem: problem,
                renderProblemSubmit: renderProblemSubmit,
                sanitizeMetricName: sanitizeMetricName
                }) %>
            <%
                prev = problem.category;
            });
            $('[data-toggle="tooltip"]').tooltip();
            %>
        </div>
    </div>
</script>

<script type="text/template" id="problem-template">
    <%
    var panel = {
    className: problem.solved ? "solved" : "",
    collapseClass: problem.solved ? "" : "in",
    title: problem.name,
    points: problem.score,
    solves: problem.solves,
    status: problem.solved ? "solved" : "unsolved",
    category: problem.category == "" ? "Miscellaneous" : problem.category
    };

    var pill = {
    solveId: problem.pid + "solve",
    hintId: problem.pid + "hint",
    inputClassName: problem.solved ? " disabled" : ""
    };
    %>

    <div class="problem <%= panel.className %> <%= panel.status %> col-md-4 col-sm-6" data-toggle="modal" data-target="#<%- problem.pid %>">
        <table data-toggle="tooltip" data-trigger="hover" title='<%= panel.solves %> <%= panel.solves == 1 ? "solve" : "solves" %>'>
            <td><h4><%- panel.title %></h4></div>
            <td class="points"><%= panel.points %></td>
        </table>
    </div>

    <div class="modal fade" id="<%= problem.pid %>" tabindex="-1" role="dialog" aria-labelledby="<%= problem.pid %>" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title"><%- panel.title %> - <%- panel.points %></h3>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#<%= pill.solveId %>" data-toggle="tab">Solve</a>
                        </li>
                        <li><a href="#<%= pill.hintId %>" data-toggle="tab" class="hint-tab-button" data-pid="<%= problem.pid %>">Hint</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="<%= pill.solveId %>">
                            <div class="panel-body">
                                <%= renderProblemSubmit({
                                    problem: problem,
                                    disabled: pill.inputClassName
                                })%>
                            </div>
                        </div>
                        <div class="tab-pane" id="<%= pill.hintId %>">
                            <div class="panel-body">
                                <%= problem.hint %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="problem-submit-template">
    <p class="problem-description">
        <%= problem.description %>
    </p>
    <div class="row">
        <form class="problem-submit">
            <div class="input-group input-group-sm">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"<%- disabled %>>Submit!</button>
                </span>
                <input type="text" data-pid="<%- problem.pid %>" class="form-control"<%- disabled %>>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="achievement-message-template">
    <table>
        <tr>
            <td>
                <img src="<%= achievement.image %>"/>
            </td>
            <td>
                <div><b><%= achievement.name %></b></div>
                <p><%= achievement.description %></p>
            </td>
        </tr>
    </table>
</script>

<div class="container">
    <div id="problem-list-holder"></div>
</div>
