---
layout: default
title: Problems
post_scripts:
- js/problems.js
startup_functions:
- redirectIfNotLoggedIn()
---

<script src="/js/libs/star-rating.min.js"></script>
<link href="/css/star-rating.min.css" rel="stylesheet" type="text/css"/>

<script type="text/template" id="problem-list-template">
    <div class="problem-list">
        <div class="row">
            <%
            function problemCompare(a, b) {
                var compare = a.category.localeCompare(b.category);
                if (compare) {
                    return compare;
                } else {
                    if (parseInt(a.score) < parseInt(b.score)) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                }
            }
            problems = problems.sort(problemCompare);
            var prev = problems[0].category;
            %>
            <div class="col-xs-12"><h3><u><%= problems[0].category %></u></h3></div>
            <%
            _.each(problems, function(problem) {
                if (prev != problem.category) {
            %>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12"><h3><u><%= problem.category %></u></h3></div>
            <% } %>
                <%= renderProblem({
                problem: problem,
                sanitizeMetricName: sanitizeMetricName
                }) %>
            <%
                prev = problem.category;
            });
            $('[data-toggle="tooltip"]').tooltip();
            %>
        </div>
    </div>
</script>

<script type="text/template" id="problem-template">
    <%
    var panel = {
    className: problem.solved ? "solved" : "",
    collapseClass: problem.solved ? "" : "in",
    title: problem.name,
    points: problem.score,
    solves: problem.solves,
    status: problem.solved ? "solved" : "unsolved",
    category: problem.category == "" ? "Miscellaneous" : problem.category
    };
    %>

    <div class="problem <%= panel.className %> <%= panel.status %> col-md-4 col-sm-6" data-pid="<%= problem.pid %>" data-toggle="modal" data-target="#problem-modal">
        <table data-toggle="tooltip" data-trigger="hover" title='<%= panel.solves %> <%= panel.solves == 1 ? "solve" : "solves" %>'>
            <td><h4><%- panel.title %></h4></div>
            <td class="points"><%= panel.points %></td>
        </table>
    </div>

</script>

<div class="container">
    <div id="problem-list-holder"></div>
</div>

<div class="modal fade" id="problem-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="problem-title"></h3>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#problem-solve-tab" data-toggle="tab">Solve</a>
                    </li>
                    <li><a href="#problem-hint-tab" data-toggle="tab" class="hint-tab-button">Hint</a>
                    </li>
                    <li><a href="#problem-solves-tab" data-toggle="tab">Solves</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="problem-solve-tab">
                        <div class="panel-body">
                            <p class="problem-description" id="problem-description">
                            </p>
                            <div class="row">
                                <form class="problem-submit">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" id="problem-submit">Submit!</button>
                                        </span>
                                        <input type="text" class="form-control" id="problem-input">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="problem-hint-tab">
                        <div class="panel-body" id="problem-hint"></div>
                    </div>
                    <div class="tab-pane" id="problem-solves-tab">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="problem-solves">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
